/* Light Theme */
:root 
{
    --background_color: #DADADA;
    --text_color: #1D1D1D;
    --nav_background: #EEEEEE;
	--nav_border: #AAAAAA;
    --nav_text: #333333;
    --button_background: #1D1D1D;
    --button_text: #1D1D1D;
}

/* Dark Theme */
body.dark-mode 
{
    --background_color: #1D1D1D;
    --text_color: #EEEEEE;
    --nav_background: #333333;
	--nav_border: #111111;
    --nav_text: #F0F0F0;
    --button_background: #DADADA;
    --button_text: #DADADA;
}

/* Body Elements */
body
{
	background-color: var(--background_color);
	color: var(--text_color);
	display: flex;
    flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 0em;
	margin-right: 0em;
	padding-left: 0em;
	padding-right: 0em;
}

html, body 
{
    height: 100%;
    margin: 0;
}

/* Header Elements */
header
{

	background-color: #447ED5;
	border-bottom: 5px solid #3664AA;
	line-height: 125%;
	margin-top: -2em;
	margin-bottom: 1.1em;
	padding-bottom: -2em;
	padding-left: 3.5em;
	padding-right: 3.5em;
	padding-top: 2em;
}

header a:link 
{
	color: #EEEEEE;
	text-decoration: none; 
}

header a:visited 
{
	color: #EEEEEE;
	text-decoration: none; 
}

header a:hover 
{
	color: #EEEEEE;
	text-decoration: none; 
}

/* Nav Elements */
nav 
{ 
	align-items: center;
	background-color: var(--nav_background);
	border-bottom: 3px solid var(--nav_border);
	color: var(--text_color);
	display: flex;
	font-size: 110%;
	font-weight: bold;
	justify-content: space-between;
	margin-top: -1em;
	padding-bottom: 0.25em;
	padding-left: 3.25em;
	padding-top: 0.25em;
	
}

.nav_links
{
	display: flex;
}

.nav_links ul
{
	display: flex;
	gap: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
	text-align: left;
}

.nav_links li 
{
    margin: 0;
}

.nav_links a 
{ 
	text-decoration: none; 
}

.nav_links a:link
{
	color: #447ED5;
}

.nav_links a:visited
{
	color: #447ED5;
}

.nav_links a:hover
{
	color: #3664AA;
}

.nav_theme_toggle 
{
	color: var(--text_color);
    display: flex;
	align-items: center;
    gap: 0.5em;
	padding-right: 4.5em;
}

.theme_label 
{
	color: var(--text_color);
	display: flex;
    font-size: 1em;
	margin: 0;
	padding-left: 67.5em;
}

/* Switch Styles */
.switch 
{
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text_color);
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before 
{
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: #447ED5;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider 
{
    background-color: var(--button_background); /* Fixed typo from #var(...) */
}

input:checked + .slider:before 
{
    transform: translateX(14px);
}

/* Main and Text Elements */
main
{
	flex: 1;
	font-size: 110%;
	padding-left: 3.5em;
	padding-right: 3.5em;
}

h1
{
	color: var(--background_color);
	font-family: Arial, Helvetica, sans-serif;
}

h2
{
	color: var(--text_color);
	font-family: Arial, Helvetica, sans-serif;
}

p
{
	color: var(--text_color);
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 2em;
}

a 
{ 
	text-decoration: none; 
}

a:link
{
	color: #447ED5;
}

a:visited
{
	color: #447ED5;
}

a:hover
{
	color: #3664AA;
}

/* Table Elements */
table
{
	background-color: var(--nav_background);
	border: 3px solid #3664AA;
	border-collapse: collapse;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

thead
{
	background-color: #447ED5;
}

th
{
	color: #DADADA;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

tr, td
{
	border: 4px solid #3664AA;
	color: var(--text_color);
	padding: 1em;
	text-align: center;
}

tr, td a
{
	text-decoration: none;
}

/* Unordered Lists */
ul.main_bullet_points 
{
	color: var(--text_color);
	list-style-type: disc;
	margin-left: 0.6em;
	padding-left: 0.6em;
	padding-right: 3.5em;
}

ul.main_bullet_points li::marker 
{
	color: #447ED5;
	font-size: 1.2em;
	padding-left: -1em;
}

ul.sub_bullet_points
{
	color: var(--text_color);
	list-style-type: disc;
	margin-left: 0.6em;
	padding-left: 0.6em;
	padding-right: 3.5em;
}

ul.sub_bullet_points li::marker
{
	color: #1F4C8E;
	font-size: 1.2em;
}

/* Footer */
footer
{
	background-color: #447ED5;
	border-top: 5px solid #3664AA;
	color: #EEEEEE;
	line-height: 125%;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 2em;
}

.footer_lists
{
	display: flex;
    justify-content: flex-start;
    align-items: flex-start;     
    gap: 2em;                     
}

.footer_page_list,
.footer_socials_list,
.footer_contact_list 
{
    font-size: 120%;
    padding-left: 1em;
	padding-right: 1em;
}

ul.footer_list
{
	list-style: none;
}

ul.footer_list li {
    margin-bottom: 0.5em;
}

footer a
{
	text-decoration: none;
}

footer a:link
{
	color: #EEEEEE;
}

footer a:visited
{
	color: #EEEEEE;
}

footer a:hover
{
	color: #D9D9D9;
}

.footer_copyright 
{
    background-color: #3664AA;
	font-size: 1.1em;
	margin: 0em;
	padding: 1em;
    text-align: center;
}
