/* Divisions */
.table_wrapper 
{
    display: flex; 
    gap: 2em; 
    justify-content: left;
	padding-left: 0em;
    flex-wrap: nowrap;
    overflow-x: auto; 
    width: 100%;
}

.table_container
{
    flex: 1; 
	margin-top: 1em;
}

.table_container p 
{
    margin-bottom: 1em;
}
